sequence.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="messageType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([a-fA-F0-9][a-fA-F0-9])+" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="sequence">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="message">
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="messageType">
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="delay" type="xs:unsignedInt" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>